.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;

  a {
    color: black;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-weight: 500;
    letter-spacing: 0.5px;

    &:hover,
    &:active,
    &.active {
      color: #c938ff;
    }
  }
}

@media (min-width: 500px) {
  .NavigationItem {
    margin-left: 3rem;

    a {
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 500;
      color: rgb(70, 64, 64);

      &:hover,
      &:active {
        color: white;
      }
    }
  }
}
